.accordion {
  height: auto;
}

.accordion__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1px;
  padding: 25px 0 23px;
  align-items: center;

  @include vp-1365 {
    padding-top: 26px;
    padding-bottom: 22px;
  }

  @include vp-767 {
    padding: 22px 0 20px;
  }

  h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    width: 90%;
    margin: 0;

    @media screen and (min-width: 1366px) {
      br {
        display: none;
      }
    }

    @include vp-1365 {
      font-size: 22px;
      font-weight: 400;
      width: 80%;
    }

    @include vp-767 {
      font-size: 20px;
    }
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    padding: 4px 210px 0 0;

    @include vp-1365 {
      padding: 2px 120px 0 0;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 1.25;
      padding: 20px 15px 0 0;
    }
  }

  &:first-child {
    padding-top: 24px;

    @include vp-1365 {
      padding-top: 25px;
      padding-bottom: 22px;
    }

    @include vp-767 {
      padding-top: 21px;
      padding-bottom: 20px;
    }

    h3 {
      @include vp-767 {
        padding-right: 20px;
        font-weight: 400;
      }
    }
  }

  &:last-child {
    padding-bottom: 24px;

    @include vp-1365 {
      padding-bottom: 23px;
    }

    @include vp-767 {
      padding-bottom: 21px;
    }
  }
}

.accordion__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $color-resolution-blue;
  position: relative;
  cursor: pointer;

  @include vp-1365 {
    transform: translateY(-1px);
  }

  @include vp-767 {
    transform: translateY(0);
    width: 30px;
    height: 30px;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 1px;
    background-color: $color-resolution-blue;
    right: 50%;
    top: 18px;
    transform: translateX(50%);

    @include vp-767 {
      width: 14px;
      top: 50%;
    }
  }

  &::after {
    right: 25%;
    transform: rotate(90deg);
  }

  &:hover,
  &:focus
  &:focus-visible {
    background-color: $color-resolution-blue;
    outline: none;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }
}

.accordion__item.is-active .accordion__button {
  background: $color-resolution-blue;

  &::before {
    background: $color-default-white;
  }

  &::after {
    display: none;
  }
}
