.btn {
  font-size: 12px;
  line-height: 1;
  font-family: $ff-robotocondensed;
  font-weight: 700;
  color: $color-default-white;
  letter-spacing: 0.6px;
  display: inline-flex;
  text-align: center;
  padding: 25px 54px;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  border: 2px solid $color-default-white;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // @include hover-focus {
  //   opacity: 0.8;
  // }
}
