.faq {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: $color-ghost-white;
  min-height: 781px;

  @include vp-1365 {
    padding-top: 101px;
    padding-bottom: 30px;
    min-height: 824px;
  }

  @include vp-767 {
    padding-top: 71px;
    padding-bottom: 69px;
    min-height: 851px;
  }

  h2 {
    font-family: $ff-alumnisans;
    font-weight: 600;
    font-size: 54px;
    line-height: 1;
    letter-spacing: 1.62px;
    margin: 0;
    margin-bottom: 50px;

    @include vp-1365 {
      font-size: 42px;
      letter-spacing: 1.26px;
      text-align: center;
      margin-bottom: 49px;
    }

    @include vp-767 {
      font-size: 32px;
      letter-spacing: 0.96px;
      margin-bottom: 36px;
    }
  }
}

.faq__wrapper {
  display: grid;
  grid-template-columns: 260px 860px;
  gap: 40px;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 39px
  }

  @include vp-767 {
    gap: 29px
  }
}

.faq__controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 1px;
  position: static;

  @include vp-1365 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  @include vp-767 {
    gap: 8px;
  }

  button {
    justify-content: center;
    border: 1px solid $color-sapphire-20;
    color: $color-sapphire;
    background-color: transparent;
    text-transform: capitalize;
    font-family: $ff-robotocondensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    padding: 19px 46px 15px;

    @include vp-1365 {
      padding: 20px 20px 14px;
      width: calc(162 / 678 * 100%);
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 1;
      padding: 15px 19px 11px;
      width: calc(141 / 290 * 100%);
      align-self: flex-end;
    }

    &:hover,
    &:focus,
    &:focus-visible {
      border-color: $color-sapphire;
      opacity: 1;
      outline: none;
    }

    &:active,
    &.is-active {
      color: $color-default-white;
      background: $button-gradient;
      padding: 18px 48px;
      letter-spacing: normal;
      line-height: 1;
      border: 0;
      outline: 0;

      @include vp-1365 {
        padding: 21px 48px 15px;
      }

      @include vp-767 {
        font-size: 16px;
        padding: 16px 20px 12px;
      }
    }

    &:disabled {
      opacity: 0.2;
      pointer-events: none;
      cursor: default;
    }
  }
}

.faq__content {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid $color-resolution-blue-20;
    border-bottom: 1px solid $color-resolution-blue-20;
  }

  li + li {
    border-top: 1px solid $color-resolution-blue-20;
  }
}
