.hero__wrapper {
  display: flex;
  gap: 71px;
  color: $color-default-white;

  @include vp-1365 {
    gap: 30px;
    max-width: max-content;
    margin: 0 auto;
  }

  @include vp-767 {
    display: block;
    max-width: 100%;
  }
}

.hero__title {
  display: grid;
  grid-template-columns: 113px min-content;
  grid-template-rows: max-content max-content;
  margin: auto 0;
  row-gap: 48px;
  column-gap: 2px;

  @include vp-1365 {
    column-gap: 26px;
    row-gap: 50px;
  }

  @include vp-767 {
    grid-template-rows: 1fr max-content;
    justify-content: space-between;
    width: 100%;
    row-gap: 59px;
    column-gap: 15px;
  }
}

.hero__title-wrapper {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0;

  @include vp-767 {
    margin-top: 37px;
  }

  p {
    font-family: $ff-alumnisans;
    font-weight: 600;
    font-size: 54px;
    line-height: 1;
    letter-spacing: 1.62px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 11px;

    @include vp-1365 {
      letter-spacing: 1.26px;
      font-size: 42px;
    }

    @include vp-767 {
      margin-bottom: 14px;
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }

  h1 {
    font-family: $ff-alumnisans;
    font-weight: 800;
    font-size: 92px;
    line-height: 1.2;
    letter-spacing: 4.6px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 20px;

    @include vp-1365 {
      font-size: 72px;
      line-height: 1.18;
      padding: 0;
      letter-spacing: 0;
    }

    @include vp-767 {
      font-size: 62px;
      line-height: calc(70 / 62);
      letter-spacing: 1.86px;
    }
  }
}

.hero__description {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  vertical-align: middle;
  font-size: 14px;
  line-height: calc(22 / 14);
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/-1;
  row-gap: 1px;
  margin-top: 1px;

  @include vp-767 {
    grid-row: 1/2;
    justify-content: end;
    line-height: calc(20 / 14);
    margin: 0;
    margin-bottom: 2px;
    row-gap: 0;
  }
}

.hero__image {
  max-width: 500px;
  background-color: $color-spindle;

  @include vp-1365 {
    max-width: 324px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include vp-1365 {
      width: 324px;
    }
  }
}

.hero__button-container {
  margin-left: auto;
  grid-column: 2/-1;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  transform: translateX(1px);

  @include vp-1365 {
    transform: translateX(0);
  }

  @include vp-767 {
    width: 100%;
    grid-column: 1/-1;
  }
}

.hero__button {
  min-width: 230px;
  justify-content: center;
  padding: 26px 54px 24px;

  @include vp-1365 {
    min-width: 185px;
    padding: 20px 32px 16px;
    min-height: 56px;
  }

  @include vp-767 {
    min-width: 290px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
    outline: none;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }
}
