.tabs {
  width: 100%;
}

.tabs__controls {
  @media (min-width: $vp-767) {
    flex-wrap: wrap;
  }
}

.tabs__content {
  @media (min-width: $vp-767) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
