.tabs {
  width: 100%;
}

.tabs__controls {
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.tabs__content {
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
